/*Importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

/* Reset page in CSS */
*{
    margin:0;
    padding:0;
}

body{
    font-size: 100%;
    font-family: 'Lobster', cursive;
}

div, section, span, ul, li, a{
    box-sizing: border-box;
}

/*Font family for paragraghs*/
p{
    font-family: 'Lobster', cursive;
    font-size:25px;
    margin:-6px;
}

/*Navigation bar BEGINS*/
header{
    width:95%;
    height: 20px;
    display:flex;
    justify-content: space-between;
    padding: 20px 50px;
    position: fixed;
    z-index: 999;
    background-color: rgb(255, 193, 77);
    color:rgb(0, 0, 0);
    box-shadow: 1px 1px 6px rgb(255, 217, 0);
}

.navbar{
    text-align:right;
}

.navbar li{
    list-style: none;
    display:inline-block;
    width:100px;
    text-align: center;
}

.navbar li a{
    text-decoration: none;
    font-size: 20px;
    color: rgb(0, 0, 0);
}

.navbar li a:hover{
    margin:-5px;
    border-bottom: 1px solid black;
    transition: 3s;
    
}

.landing-direct{
    text-decoration:none;
    color:rgb(0, 0, 0);
}

.landing-direct:hover{
    margin:10px;
    border-bottom: 1px solid black;
    transition: 1s;
    cursor:pointer;
}

.navbar li a .active{
    color:white;
}
/*Navigation bar ENDS*/

/*under navigation header*/
section{
    width:100%;
    float: left;
    height: 100vh;
    position:fixed;
}

.top{
    background-image: url(images/image1.jpg.jpg);
    background-size:cover;
    min-height: 50%;
}

.home-header{
    position: absolute;
    top:54%;
    left: 20%;
    transform: translate(-50%, -50%);
    color:whitesmoke;
    font-size: 160px;
    font-family: 'Staatliches', cursive;
    font-weight:bold;
    margin:0px 1px;
    text-shadow: 5px 5px 19px black;
}

.orange{
    color:rgb(255, 193, 77);
    text-shadow: 10px 10px 19px black;
}


.let-me{
    color:black;
    text-decoration: none;
}

button{
    position: absolute;
    top:51%;
    left: 80%;
    transform: translate(-50%, -50%);
    color:black;
    font-size: 59px;
    font-family: 'Lobster', cursive;
    background:rgb(255, 193, 77);
    padding:15px;
    border: 2px solid white;
    opacity: 100%;
    border-radius: 40px;
    width:350px;
}

button:hover{
    cursor: pointer;
    top:50%;
    transition: 1s;
}

button:active{
    transition: 0.3s;
    box-shadow: 1px 1px 21px #ffd900;
}

.arrow{
    background-image: url(arrow.svg);
    background-size:cover;
    background-repeat: no-repeat;
    width:65px;
    height:65px;
    margin:600px 640px;
}

.arrow:hover{
    cursor: pointer;
    fill:rgb(255, 217, 0);
    margin:589px 640px;
    transition: 1s;
    opacity: 75%;
}

.arrow:hover, .arrow:focus{
    filter:invert(76%) sepia(83%) saturate(1188%) brightness(200%) contrast(104%);
    opacity:76%;
}
/*Hero Section ENDS*/







/* Recipie product page*/
.products{
    display: flex;;
}

.card {
    box-shadow: 0 4px 40px 0 rgba(255, 240, 32, 0.76);
    max-width: 600px;
    margin: 100px 100px;
    text-align: center;
    font-family: 'Staatliches', cursive;
    background-color: rgba(255, 240, 32, 0.76);
    border-radius:10px;
    border:3px solid black;
    height:450px;
}
  
.cocktail1-image{
    border-radius:5px;
}

.price {
  color: rgb(0, 0, 0);
  font-size: 22px;
  font-family: 'Staatliches', cursive;
}

.card .add-to-cart{
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 13%;
  font-size: 30px;
  margin:270px -890px;
  font-family: 'Staatliches', cursive;
}

.cocktail1-text{
  font-family: 'Staatliches', cursive;
  font-size:30px;
  opacity:90%;
}


.card .add-to-cart2 {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 15%;
    font-size: 30px;
    margin:270px -425px;
    font-family: 'Staatliches', cursive;
}

.add-to-cart a, .add-to-cart2 a, .add-to-cart3 a{
    text-decoration: none;
    color:white;
}

.card .add-to-cart3{
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 15%;
    font-size: 30px;
    margin:270px 50px;
    font-family: 'Staatliches', cursive;
}
  
  





/*Register Form BEGINS*/
.register-login-forms{
    display:flex;
}

.register-container{
    width:550px;
    height:550px;
    background:rgb(255, 193, 77);
    margin:100px 130px;
    border: 3px solid black;
    border-radius: 15px;
}

.register-container-header, .login-container-header {
    font-size:50px;
}

.register-input{
    border:none;
    border-bottom: 1px solid black;
    text-align: center;
    background: transparent;
    font-size:30px;
    margin:10px 15px;
    outline:none;
    font-family: 'Staatliches', cursive;
    width:490px;
    color:black;
}

.login-container{
    width:550px;
    height:550px;
    background:ghostwhite;
    margin:100px -90px;
    border: 3px solid black;
    border-radius: 15px;
}

.login-input{
    border:none;
    border-bottom: 1px solid black;
    text-align: center;
    background: transparent;
    font-size:30px;
    margin:10px 20px;
    outline:none;
    font-family: 'Staatliches', cursive;
    width:490px;
    color:black;
    height:100px;
}

.register-container-btn{
    width:140px;
    height:70px;
    background: black;
    color: white;
    margin:178px -689px;
    border:none;
    border-radius: 5px;
    font-size:35px;

}

.login-container-btn{
    width:140px;
    height:70px;
    background: black;
    color: white;
    margin:169px -93px;
    border:none;
    border-radius: 5px;
    font-size:35px;

}



/*Register Form ENDS*/



/*About Section BEGINS*/
.visit-section{
    height:727px;
}

.visit-section-header{
    position: absolute;
    top:50%;
    left: 75%;
    transform: translate(-50%, -50%);
    color:rgb(255, 193, 77);
    font-size: 120px;
    font-family: 'Staatliches', cursive;
    text-shadow: 10px 10px 19px black;
    margin:0px 30px;
}

.google-api{
    top:14%;
    left:10%;
    color:black;
    font-size: 50px;
    font-family: "Amatic SC", sans-serif;
    margin:0px 10px;
    text-shadow:5px 5px white;
    border-radius: 15px;
    box-shadow: 19px 19px 29px rgb(255, 193, 77);
}

.visit-section-para1{
    margin:100px 850px;
    font-size: 10px;
}


.about-text{
    position: absolute;
    top:63%;
    left: 75%;
    transform: translate(-50%, -50%);
    color:rgb(0, 0, 0);
    font-size: 35px;
    font-family: 'Bangers', cursive;
    margin:0px 30px;
}

.opening-times-text{
    top:0%;
    left:20%;
    color:black;
    font-size: 40px;
    font-family: 'Bangers', cursive;
    margin:120px 130px;
    text-shadow: 5px 5px rgb(255, 255, 255);
}
/*About Section ENDS*/



/* Employment page BEGINS */
.employment-header-text, .our-story-header-text{
    position: absolute;
    top:30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:rgb(255, 193, 77);
    font-size: 100px;
    font-family: 'Staatliches', cursive;
    text-shadow: 10px 10px 19px black;
    margin:0px 30px;
    text-align:center;
}

.white{
    color:white;
}

.employment-underneath-header-text, .our-story-underneath-header-text{
    position: absolute;
    top:65%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    font-size: 40px;
    font-family: 'Staatliches', cursive;
    text-shadow: 1px 1px 9px black;
    background: rgb(255, 193, 77);
    border-radius: 10px;
    margin:0px 30px;
    text-align:center;
}

.employment-apply-now-btn{
    width:180px;
    height:70px;
    background: black;
    color: white;
    margin:250px -373px;
    border:none;
    border-radius: 5px;
    font-size:30px;
}